* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English', serif;
}

p {
  font-family: 'EB Garamond', serif;
  margin: 20px 0 27px;
  line-height: 155%;
  text-align: justify;
}

/*======================================

               Header

=======================================*/

header {
  background: #000000;
  position: fixed;
  left: 0;
  right: 0;
  padding: 12px 0 12px 1%;
  filter: drop-shadow(0px 0px 2px black);
}

header nav ul li {
  display: inline;
}

header nav a {
  color: #ababab;
  text-decoration: none;
  font-family: 'IM Fell English';
  font-size: .89rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 4px;
}

header nav a:hover {
  color: #59a5af;
  transition: .3s;
}

.spacers {
  color: #59a5af;
  opacity: .6;
}

/*======================================

        Hamburger Mobile Button

=======================================*/

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:36px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {z-index:1000000; font-family: 'EB Garamond', serif; font-size:1.5rem; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:1rem;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block; background:#fff; padding:15px 0 15px 0; border-bottom:#ddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover { color: #ababab;; text-decoration:none;}
.menu a{text-decoration:none; color:#ababab;;}
.menu a:hover{text-decoration:none; color:#ababab;;}


/*======================================

        Hero Image Section

=======================================*/

.hero-image-section {
  background-image: url('../images/gorey-main-image-flat.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 150px 0 150px 2%;
  text-align: center;
}

.gorey-logo {
  max-width: 41%;
}

.mobile-header img {
  max-width: 100%;
  padding-top: 40px;
}

/*======================================

        Container

=======================================*/

.container1 {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: -3.2%;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: .5%;
}

.bio img {
  max-width: 100%;
  padding: 0px 11px;
}

figcaption {
  font-family: 'IM Fell English', serif;
  text-align: center;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 6.25%;
}

/*======================================

        Gorey Bio Section

=======================================*/

.gorey-who h1 {
  font-size: 3.25rem;
  text-align:center;
  letter-spacing: 1.3px;
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 19px;
}

.gorey-bio {
  margin: -25px -30px;
}

span {
  color: #d1d1d1;
}

.gorey-who {
  padding: 29px 0 56px;
}

.p-line {
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 32px;
}

.p-top {
  margin-top: 2.5%;
}

/*======================================

        Middle Image Break

=======================================*/

.section-break {
  background: url('../images/gorey-middle-image-color.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 400px 0;
}

/*======================================

        Museum Section

=======================================*/

.flex-items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.museum {
  margin-bottom: 70px;
}
.museum h2 {
  text-align: center;
  font-size: 3rem;
  margin: 32px 0 22px;
  letter-spacing: 1.3px;
}

.museum img {
  width: 85%;
  padding: 22px 0 8px;
}

.house {
  width: 30%;
  background: #f2f2f2;
  margin: 0 1%;
}

.house div {
  height: 220px;
}

.house a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 28%;
  border-radius: 3px;
  letter-spacing: .2px;
}

.house a:hover {
  background: #59a5af;
  transition: .3s;
}

.house h3 {
  font-size: 1.5rem;
}

.house p {
  padding: 0 9%;
  margin-top: 7px;
}


.store {
  width: 30%;
  background: #f2f2f2;
  margin: 0 1%;
}

.store div {
  height: 220px;
}

.store a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 28%;
  border-radius: 3px;
  letter-spacing: .2px;
}

.store a:hover {
  background: #59a5af;
  transition: .3s;
}

.store p {
  padding: 0 9%;
  margin-top: 7px;
}

.store h3 {
  font-size: 1.5rem;
}

.prints {
  width: 30%;
  background: #f2f2f2;
  margin: 0 1%;
}

.prints div {
  height: 220px;
}

.prints a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 28%;
  border-radius: 3px;
  letter-spacing: .2px;
}

.prints a:hover {
  background: #59a5af;
  transition: .3s;
}

.prints h3 {
  font-size: 1.5rem;
}

.prints p {
  padding: 0 9%;
  margin-top: 7px;
}


/*======================================

        Bottom Image Break

=======================================*/

.section-break-bottom {
  background: url('../images/gorey-bottom-image.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 300px 0;
}

/*======================================

        Form Section

=======================================*/

.contact-section {
  background: #f2f2f2;
  padding: 2px 2% 21px;
  width: 69%;
  margin: 19px auto;
}

.container h2 {
  text-align: center;
  font-size: 3rem;
  margin: 32px 0 22px;
  letter-spacing: 1.3px;
}

.gorey-contact {
  margin: 20px 0px;
}

.gorey-contact div {
  margin-bottom: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
  font-family: 'IM Fell English';
  margin: -9px 0 2px;
  padding: 12px 0 2px;
}

.gorey-contact input,
.gorey-contact textarea {
  border-radius: 3px;
  width: 99%;
  padding: 9px 0px 9px 8px;
}

textarea#comments {
  font-family: sans-serif;
  font-size: 13px;
}

.submit input {
  background: #333;
  color: white;
  font-family:'EB Garamond', serif;
  border-radius: 3px;
  border: none;
}

select#state {
  width: 41%;
  padding: 6px 5px;
}

.submit-bottom input {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  background: #333;
  color: white;
  text-decoration: none;
  padding: 7px 28%;
  border-radius: 3px;
  letter-spacing: .2px;
  margin: 14px 0 10px;
}

div#special {
  width: 44%;
  margin: 0px auto;
}

.submit-bottom input:hover {
  background: #59a5af;
  transition: .3s;
}

.address p {
  margin-top: 25px;
  font-family: 'IM Fell English';
  font-size: 16.5px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
}

.address a {
  text-decoration: none;
  color: #5e7942;
  font-family: 'EB Garamond';
}





/*======================================

        Footer

=======================================*/

footer {
  background: #000;
  text-align: center;
  margin: 0px auto -1px;
  padding: 0px 0px 3px;
}

footer img {
  width: 40px;
  padding: 15px 30px;
  opacity: .4;
  margin: 0px -10px;
}

.socialmedia p {
  color: white;
  text-align: center;
  margin: -14px auto 13px;
  font-family: sans-serif;
  font-size: .6rem;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: .7px;
}

/*======================================

        Media Queries

=======================================*/

@media(max-width: 260px) {
  p {
    font-size: 1rem;
  }
}

@media(max-width: 320px) {
  .gorey-who {
    padding: 29px 0 15px;
  }
  .house div {
    height: 260px;
  }

  .store div {
    height: 240px;
  }

  .prints div {
    height: 240px;
  }

  .house, .store, .prints {
    width: 90%;
    margin: 6px 1%;
  }
}

@media(max-width: 385px) {
  .gorey-who h1 {
    font-size: 2.25rem;
  }
}

@media(max-width: 620px) {
  .flex-items {
    flex-direction: column;
  }

  .house, .store, .prints {
    width: 90%;
    margin: 15px 1%;
  }

  .museum h2 {
    font-size: 2.25rem;
    margin: 25px 0 15px;
    letter-spacing: .5px;
  }

  .contact-section {
    width: 90%;
  }
}

@media(max-width: 700px) {
  .house, .store, .prints {
    margin: 30px 1%;
  }

  .house a {
    padding: 10px 18%;
  }

  .store a {
    padding: 10px 18%;
  }

  .prints a {
    padding: 10px 18%;
  }
}

@media(min-width: 900px) {
  .mobile-header {
    display: flex;
    max-width: 100%;
    margin-top: 3%;
    display: none;
  }
  .hamburger {
    display: none;
  }
}

@media(max-width: 900px) {
  .hero-image-section {
    max-width: 100%;
    display: none;
  }
  .desktop-menu {
    display: none;
  }

  header {
    padding: 12px 0 30px 10px;
  }
}

@media(max-width: 950px) {
  .house div {
    height: 280px;
  }
  .store div {
    height: 280px;
  }
  .prints div {
    height: 280px;
  }
}
