* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English', serif;
}

p {
  font-family: 'EB Garamond', serif;
  margin: 20px 0 23px;
  line-height: 157%;
  text-align: justify;
}

/*======================================

               Header

=======================================*/

header {
  background: #000000;
  position: fixed;
  left: 0;
  right: 0;
  padding: 12px 0 30px 10px;
  filter: drop-shadow(0px 0px 2px black);
}

header nav ul li {
  display: inline;
}

header nav a {
  color: #ababab;
  text-decoration: none;
  font-family: 'IM Fell English';
  font-size: .89rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 4px;
}

header nav a:hover {
  color: #59a5af;
  transition: .3s;
}

.spacers {
  color: #59a5af;
  opacity: .6;
}

/*======================================

        Hamburger Mobile Button

=======================================*/

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:36px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {z-index:1000000; font-family: 'EB Garamond', serif; font-size:1.5rem; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:1rem;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block; background:#fff; padding:15px 0 15px 0; border-bottom:#ddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover { color: #ababab;; text-decoration:none;}
.menu a{text-decoration:none; color:#ababab;;}
.menu a:hover{text-decoration:none; color:#ababab;;}


/*======================================

        Hero Image Section

=======================================*/

.hero-image-section {
  background-image: url('../images/gorey-main-image-flat.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 150px 0 150px 30px;
  text-align: center;
}

.gorey-logo {
  max-width: 41%;
}

.mobile-header img {
  max-width: 100%;
  padding-top: 40px;
}

/*======================================

        Container

=======================================*/

.container1 {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: -3.2%;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: .5%;
}

.bio img {
  max-width: 100%;
  padding: 0px 11px;
}

figcaption {
  font-family: 'IM Fell English', serif;
  text-align: center;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 6.25%;
}

/*======================================

        Gorey Bio Section

=======================================*/

.gorey-who h1 {
  font-size: 3.25rem;
  text-align:center;
  letter-spacing: 1.3px;
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 19px;
}

.gorey-bio {
  margin: -25px -30px;
}

span {
  color: #d1d1d1;
}

.gorey-who {
  padding: 29px 0 56px;
}

.p-line {
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 32px;
}

.p-top {
  margin-top: 2.5%;
}

/*======================================

        Middle Image Break

=======================================*/

.section-break {
  background: url('../images/gorey-middle-image-color.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 400px 0;
}

/*======================================

        Footer

=======================================*/

footer {
  background: #000;
  text-align: center;
  margin: 0px auto -1px;
  padding: 0px 0px 3px;
}

footer img {
  width: 40px;
  padding: 15px 30px;
  opacity: .4;
  margin: 0px -10px;
}

.socialmedia p {
  color: white;
  text-align: center;
  margin: -14px auto 13px;
  font-family: sans-serif;
  font-size: .6rem;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: .7px;
}

/*======================================

        Media Queries

=======================================*/

@media(max-width: 260px) {
  p {
    font-size: 1rem;
  }
}

@media(max-width: 385px) {
  .gorey-who h1 {
    font-size: 2.25rem;
  }
}

@media(min-width: 900px) {
  .mobile-header {
    display: flex;
    max-width: 100%;
    margin-top: 3%;
    display: none;
  }


@media(max-width: 900px) {
  .hero-image-section {
    max-width: 100%;
    display: none;
  }

  .desktop-menu {
    display: none;
    }
}
