* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English', serif;
}

p {
  font-family: 'EB Garamond', serif;
  margin: 18px 0 23px;
  line-height: 25px;
  text-align: justify;
}

/*======================================

               Header

=======================================*/

header {
  background: #000000;
  position: fixed;
  left: 0;
  right: 0;
  padding: 12px 0 10px 10px;
  filter: drop-shadow(0px 0px 2px black);
  z-index: 10;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: #ababab;
  text-decoration: none;
  font-family: 'IM Fell English';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 4px;
}

header nav a:hover {
  color: #59a5af;
  transition: .3s;
}

.spacers {
  color: #59a5af;
  opacity: .6
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: .5px;
  opacity: .3
}

/*======================================

        Hero Image Section

=======================================*/

.hero-image-section {
  background-image: url('../images/gorey-main-image-flat.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 150px 0 150px 30px;
  text-align: center;
}


/*======================================

        Container

=======================================*/

.container {
  margin: 0 auto;
  max-width: 950px;
}

/*======================================

        Gorey Bio Section

=======================================*/

.gorey-who h1 {
  font-size: 52px;
  text-align:center;
  letter-spacing: 1.3px;
}

.gorey-bio {
  margin: -25px -30px;
}

.bio-image {
  width: 230px;
  display: inline-block;
  margin-top: 22px;
  padding: 28px 40px 32px;
}

.bio-image img {
  width: 300px;
}

.subtext {
  position: absolute;
  margin: 4px 63px 0px;
  font-size: 15px;
  letter-spacing: .5px;
}

span {
  color: #d1d1d1;
}

.gorey-who {
    padding: 31px 0 56px;
}

.bio-image.up {
    margin: -3px 0px 0px;
}

/*======================================

        Middle Image Break

=======================================*/

.section-break {
  background: url('../images/gorey-middle-image-color.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 300px 0;
}

/*======================================

        Museum Section

=======================================*/
.museum {
  padding: 26px 0px;
}

.museum h2 {
  text-align: center;
  font-size: 44px;
  letter-spacing: 1px;
}

.city {
  background: #f2f2f2;
  width: 250px;
  display: inline-block;
  margin-top: 20px;
  padding: 35px 21px;
}

.city img {
  width: 250px;
}

.capecod a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 87px;
  border-radius: 3px;
  letter-spacing: .2px;
}

.inside a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 84px;
  border-radius: 3px;
  letter-spacing: .2px;
}

.artworks a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 80px;
  border-radius: 3px;
  letter-spacing: .2px;
}

.city a:hover {
  background: #59a5af;
  transition: .3s;
}

.city h3 {
  text-align: center;
  margin-top: 6px;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.city p {
  text-align: left;
  margin: 6px 0px 24px;
  line-height: 22px;
}

/*======================================

        Bottom Image Break

=======================================*/

.section-break-bottom {
  background: url('../images/gorey-bottom-image.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 300px 0;
}

/*======================================

        Contact Section

=======================================*/

.contact-section {
  background: #f2f2f2;
  padding: 2px 24px 21px;
  width: 630px;
  margin: 19px auto;
}

.container h2 {
  text-align: center;
  font-size: 42px;
  letter-spacing: 1px;
  margin: 28px auto 7px;
}

.gorey-contact {
  margin: 20px 0px;
}

.gorey-contact div {
  margin-bottom: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
  font-family: 'IM Fell English';
  margin: -9px 0px 2px;
  padding: 12px 0px 2px;
}

.gorey-contact input,
.gorey-contact textarea {
  border-radius: 3px;
  width: 99%;
  padding: 9px 0px 9px 8px;
}

textarea#comments {
  font-family: sans-serif;
  font-size: 13px;
}

.submit input {
  background: #333;
  color: white;
  font-family:'EB Garamond', serif;
  border-radius: 3px;
  border: none;
}

select#state {
  width: 41%;
  padding: 6px 5px;
}

.submit-bottom input {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  background: #333;
  color: white;
  text-decoration: none;
  padding: 7px 112px;
  border-radius: 3px;
  letter-spacing: .2px;
  margin: 14px 0px 10px;
}

div#special {
  width: 44%;
  margin: 0px auto;
}

.submit-bottom input:hover {
  background: #59a5af;
  transition: .3s;
}

.address p {
  margin-top: 25px;
  font-family: 'IM Fell English';
  font-size: 16.5px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
}

.address a {
  text-decoration: none;
  color: #5e7942;
  font-family: 'EB Garamond';
}


iframe {
  margin-top: 5px;
}


/*======================================

        Footer

=======================================*/

footer {
  background: #000;
  text-align: center;
  margin: 24px auto -1px;
  padding: 0px 0px 3px;
}

footer img {
  width: 40px;
  padding: 15px 30px;
  opacity: .4;
  margin: 0px -10px;
}

.socialmedia p {
  color: white;
  text-align: center;
  margin: -14px auto 13px;
  font-family: sans-serif;
  font-size: 10px;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: .7px;
}
